@page "/kanbanBoard/{boardId}"
@using InVision.Data
@using InVision.Pages
@inject KBoardService service
@inject DialogService DialogService


<h1>@board.Name</h1>
<div class="row">
	<div class="col">
		<RadzenCard style="border-bottom-left-radius: 0px; border-bottom-right-radius: 0px; border-left: 6px solid #AA4A44;  border-bottom: 2px solid #AA4A44">
			<RadzenText TextStyle="TextStyle.H6">
				<RadzenRow>
					<RadzenColumn Size="10">
						<strong>To Do</strong>
					</RadzenColumn>
					<RadzenColumn Size="2">
						<RadzenIcon @onclick="()=>OnAddItem(todo)" Icon="add_circle_outline" Style="cursor: pointer;" class="add-todoitem-icon"></RadzenIcon>
					</RadzenColumn>
				</RadzenRow>
			</RadzenText>
		</RadzenCard>

		<Dropzone Items="MyFirstList" TItem="TodoItem" OnItemDrop="@((tdi)=>Itemdropcall("ToDo", tdi))" Class="h-100">
			<ChildContent>
				<div class="card" style="border-left: 6px solid #AA4A44; border-color: #AA4A44; border-radius: 0px; max-width:370px">
					<div class="card-body">
						<RadzenText contenteditable="true">
							<strong>@context.Title </strong>
						</RadzenText>
						<RadzenRow>
							<RadzenColumn Size="10">
								<p contenteditable="true">@context.Description</p>
							</RadzenColumn>
							<RadzenColumn Size="2">
								<RadzenIcon @onclick="()=>OnDeleteitem(context)" Icon="delete" Style="cursor: pointer;" class="delete-todoitem-icon"></RadzenIcon>
							</RadzenColumn>
						</RadzenRow>
					</div>
				</div>
			</ChildContent>
			<Footer>
			</Footer>
		</Dropzone>
	</div>

	<div class="col">
		<RadzenCard style="border-bottom-left-radius: 0px; border-bottom-right-radius: 0px; border-left: 6px solid orange;  border-bottom: 2px solid orange">
			<RadzenText TextStyle="TextStyle.H6">
				<RadzenRow>
					<RadzenColumn Size="10">
						<strong>In Progress</strong>
					</RadzenColumn>
					<RadzenColumn Size="2">
						<RadzenIcon @onclick="()=>OnAddItem(inProgress)" Icon="add_circle_outline" Style="cursor: pointer;" class="add-todoitem-icon"></RadzenIcon>
					</RadzenColumn>
				</RadzenRow>
			</RadzenText>
		</RadzenCard>

		<Dropzone Items="MySecondList" TItem="TodoItem" OnItemDrop="@((tdi)=>Itemdropcall("InProgress", tdi))" Class="h-100" Id="Progress">
			<ChildContent>
				@foreach (var i in MySecondList)
				{
					<div class="card" style="border-left: 6px solid orange; border-color: orange; border-radius: 0px; max-width:370px">
						<div class="card-body">
							<RadzenText contenteditable="true">
								<strong>@i.Title </strong>
							</RadzenText>
							<RadzenRow>
								<RadzenColumn Size="10">
									<p contenteditable="true">@i.Description</p>
								</RadzenColumn>
								<RadzenColumn Size="2">
									<RadzenIcon @onclick="()=>OnDeleteitem(i)" Icon="delete" Style="cursor: pointer;"></RadzenIcon>
								</RadzenColumn>
							</RadzenRow>
						</div>
					</div>
				}

			</ChildContent>
			<Footer>
			</Footer>
		</Dropzone>
	</div>

	<div class="col">
		<RadzenCard style="border-bottom-left-radius: 0px; border-bottom-right-radius: 0px; border-left: 6px solid green;  border-bottom: 2px solid green">
			<RadzenText TextStyle="TextStyle.H6">
				<RadzenRow>
					<RadzenColumn Size="10">
						<strong>Done</strong>
					</RadzenColumn>
					<RadzenColumn Size="2">
						<RadzenIcon @onclick="()=>OnAddItem(done)" Icon="add_circle_outline" Style="cursor: pointer;" class="add-todoitem-icon"></RadzenIcon>
					</RadzenColumn>
				</RadzenRow>
			</RadzenText>
		</RadzenCard>
		<Dropzone Items="MyThirdList" TItem="TodoItem" OnItemDrop="@((tdi)=>Itemdropcall("Done", tdi))" Class="h-100" Id="done">
			<div class="card" style="border-left: 6px solid green; border-color: green; border-radius: 0px; max-width:370px">
				<div class="card-body">
					<RadzenText contenteditable="true">
						<strong>@context.Title </strong>
					</RadzenText>
					<RadzenRow>
						<RadzenColumn Size="10">
							<p contenteditable="true">@context.Description</p>
						</RadzenColumn>
						<RadzenColumn Size="2">
							<RadzenIcon @onclick="()=>OnDeleteitem(context)" Icon=" delete" Style="cursor: pointer;"></RadzenIcon>
						</RadzenColumn>
					</RadzenRow>
				</div>
			</div>
		</Dropzone>
	</div>
</div>


@code {
	[Parameter]
	public string boardId { get; set; }

	private KBoard board { get; set; }

	public List<TodoItem> MyFirstList = new List<TodoItem>();
	public List<TodoItem> MySecondList = new List<TodoItem>();
	public List<TodoItem> MyThirdList = new List<TodoItem>();

	public string todo = "ToDo";
	public string inProgress = "InProgress";
	public string done = "Done";


	protected override async Task OnInitializedAsync()
	{
		board = service.GetBoardById(int.Parse(boardId));
		List<TodoItem> listOfItems = board.Items;

		foreach (TodoItem item in listOfItems)
		{
			if (item.state == 0)
			{
				MyFirstList.Add(item);
			}
			if (item.state == 1)
			{
				MySecondList.Add(item);
			}
			if (item.state == 2)
			{
				MyThirdList.Add(item);
			}
		}
	}

	public async void OnAddItem(string dropzone)
	{
		TodoItem newitem = await DialogService.OpenAsync<AddToDoItemPage>("Add Appointment",
			new Dictionary<string, object> { { "Title", null }, { "Description", null } });
		if (newitem != null)
		{
			if (dropzone == "ToDo")
			{
				newitem.state = 0;
				MyFirstList.Add(newitem);
			}
			if (dropzone == "InProgress")
			{
				newitem.state = 1;
				MySecondList.Add(newitem);
			}
			if (dropzone == "Done")
			{
				newitem.state = 2;
				MySecondList.Add(newitem);
			}
		}
	}


	public async void OnDeleteitem(TodoItem item)
	{
		var confirmationResult = await this.DialogService.Confirm("Are you sure?", "Dialog Title", new ConfirmOptions { OkButtonText = "Yes", CancelButtonText = "No" });
		if (confirmationResult == true)
		{
			board.Items.Remove(item);
		}
	}

	public void Itemdropcall(string dropzoneId, TodoItem item)
	{
		Console.WriteLine(dropzoneId);
		if (dropzoneId == "ToDo")
		{
			item.state = 0;
		}
		if (dropzoneId == "InProgress")
		{
			item.state = 1;
		}
		if (dropzoneId == "Done")
		{
			item.state = 2;
		}
	}



}
