@page "/kanbanBoard/{boardName}"
@using InVision.Data
@using InVision.Pages

<h1>@boardName</h1>
<div class="row">
    <div class="col">
        <RadzenCard style="border-bottom-left-radius: 0px; border-bottom-right-radius: 0px; border-left: 6px solid #AA4A44;  border-bottom: 2px solid #AA4A44">
            <RadzenText TextStyle="TextStyle.H6">
                <strong>To Do</strong>
            </RadzenText>
        </RadzenCard>

        <Dropzone Items="MyFirstList" TItem="TodoItem" OnItemDrop="@((i)=>lastdropped = i)" Class="h-100">
            <ChildContent>
                <div class="card" style="border-left: 6px solid #AA4A44; border-color: #AA4A44; border-radius: 0px">
                    <div class="card-body">
                        <RadzenText contenteditable="true">
                            <strong>@context.Title </strong>
                        </RadzenText>
                        <p contenteditable="true">@context.Description</p>
                    </div>
                </div>
            </ChildContent>
            <Footer>
            </Footer>
        </Dropzone>

    </div>
    <div class="col">
        <RadzenCard style="border-bottom-left-radius: 0px; border-bottom-right-radius: 0px; border-left: 6px solid orange;  border-bottom: 2px solid orange">
            <RadzenText TextStyle="TextStyle.H6">
                <strong>In Progress</strong>
            </RadzenText>
        </RadzenCard>

        <Dropzone Items="MySecondList" TItem="TodoItem" OnItemDrop="@((i)=>lastdropped = i)" Class="h-100">
            <ChildContent>
                <div class="card" style="border-left: 6px solid orange; border-color: orange; border-radius: 0px">
                    <div class="card-body">
                        <RadzenText contenteditable="true">
                            <strong>@context.Title </strong>
                        </RadzenText>
                        <p contenteditable="true">@context.Description</p>
                    </div>
                </div>
            </ChildContent>
            <Footer>
            </Footer>
        </Dropzone>
    </div>
    <div class="col">
        <RadzenCard style="border-bottom-left-radius: 0px; border-bottom-right-radius: 0px; border-left: 6px solid green;  border-bottom: 2px solid green">
            <RadzenText TextStyle="TextStyle.H6">
                <strong>Done</strong>
            </RadzenText>
        </RadzenCard>
        <Dropzone Items="MyThirdList" TItem="TodoItem" OnItemDrop="@((i)=>lastdropped = i)" Class="h-100">
            <div class="card" style="border-left: 6px solid green; border-color: green; border-radius: 0px">
                <div class="card-body">
                    <RadzenText contenteditable="true">
                        <strong>@context.Title </strong>
                    </RadzenText>
                    <p contenteditable="true">@context.Description</p>
                </div>
            </div>
        </Dropzone>
    </div>
</div>


@code {
    [Parameter]
    public string boardName { get; set; }


    private TodoItem lastdropped { get; set; }

    public List<TodoItem> MyFirstList = new List<TodoItem>()
{
            new TodoItem(){Title = "Item 1", Description="abc"},
            new TodoItem(){Title = "Item 2", Description="abc"},
            new TodoItem(){Title = "Item 3", Description="abc"},
            new TodoItem(){Title = "Item 4", Description="abc"},
            new TodoItem(){Title = "Item 5", Description="abc"},
            new TodoItem(){Title = "Item 6", Description="abc"},
            new TodoItem(){Title = "Item 7", Description="abc"},
    };

    public List<TodoItem> MySecondList = new List<TodoItem>()
    {
            new TodoItem(){Title = "Item 8", Description="abc"},
            new TodoItem(){Title = "Item 9", Description="abc"},
            new TodoItem(){Title = "Item 10", Description="abcde"},
    };

    public List<TodoItem> MyThirdList = new List<TodoItem>()
    {
    };
}
